@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 137 20% 95%; /* #F0F5F1 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 141 30% 31%; /* #386641 */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 30 25% 52%; /* #A68A64 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 141 30% 31%;
    --radius: 0.5rem;
    --chart-1: 141 76% 35%;
    --chart-2: 30 76% 55%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 141 30% 31%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 141 30% 94%;
    --sidebar-accent-foreground: 141 30% 31%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 141 30% 31%;
  }

  .dark {
    --background: 140 10% 10%;
    --foreground: 0 0% 98%;
    --card: 140 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 140 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 141 30% 60%;
    --primary-foreground: 141 30% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 30 25% 70%;
    --accent-foreground: 30 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 141 30% 60%;
    --chart-1: 141 70% 50%;
    --chart-2: 30 70% 60%;
    --chart-3: 173 60% 45%;
    --chart-4: 43 70% 60%;
    --chart-5: 27 80% 65%;
    --sidebar-background: 140 10% 12%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 141 30% 60%;
    --sidebar-primary-foreground: 141 30% 10%;
    --sidebar-accent: 140 10% 18%;
    --sidebar-accent-foreground: 141 30% 60%;
    --sidebar-border: 140 10% 18%;
    --sidebar-ring: 141 30% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
